* {
    box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 800px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 40px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#chats {
    height: 500px;
    width: auto;
    background-color: #eee;
    overflow: scroll;
}

#chats .username {
    font-weight: 800;
}

#roomSelect {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
    width: 300px;
}

#roomSelect option {
    max-width: 300px;
    min-width: 300px;
    width: 300px !important;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

#send {
    margin: 0 0 20px 0;
}

#message, #newRoomInput{
    border: 1px solid #ccc;
    border-right: 0;
    float: left;
    font-size: 14px;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    width: 85%;
}

#message:focus {
    border-color: #0090da;
    outline: none;
}

.submit, .refresh, #newRoomSubmit {
    background-color: #1494e1;
    margin-bottom: 10px;
    border: 0;
    color: #fff;
    display: block;
    float: right;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 15%;
}
.submit:hover{
    cursor: pointer;
    background-color: #108edb;
}
.username:hover{
    cursor: pointer;
    color: #1494e1;
}
.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.comment:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.refresh {
    float: right;
    clear: both;
}
.friend {
    background-color: #E0FAFF;
}


